<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/c55/bootstrap.min.css">
<link rel="stylesheet" href="https: //cdnjs.cloudflare.com/ajax/libs/baguettebox.3s/1.8.1/baguetteBox.min.css">
<link rel="stylesheet" href="gallery-grid.css">
    <script src="https://kit.fontawesome.com/850256899c.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="main-header">
<nav class="main-header-top">
    <ul class=left-nav>
        <li><a href="#">Seguí tu compra</a></li>
        <li><a href="#">Servicio técnico</a></li>
        <li><a href="#">Sucursales</a></li>
        <li><a href="#">Venta telefónica</a></li>
        <li><a href="#">Centro de ayuda</a></li>
    </ul>
    <ul class=right-nav>
        <li><a href="#">Iniciar Sesión <i class="fas fa-sign-in-alt"></i></a></a></li>
        <li><a href="#">Registrarse <i class="far fa-address-card"></i></a></li>
    </ul>
</nav>
<div class="main-header-center">
<div class="logo-search">
    <img src="/images/Logo - Digital Market.png" class="logo">                
    <h2 class = "slogan"> Encontrá todo lo que buscas al alcance de un click</h2>    
    <div class="user">
            <article class=header-right><a href="/productCart">
                <i class="fas fa-shopping-cart"> </i>
                <p class=parrafo> Mi carro </p></a>
            </article>
            
            <article class=header-right><a href="">
            <i class="fas fa-user-circle"></i>
                <p class=parrafo> Perfil</p></a>
            </article>
        </div>
    </div>

<h2 class="burger-menu">
    <i class="fas fa-bars"> Categorías</i>  
 </h2>

 <div class=contenedor> <input class = barra-busqueda type="text" placeholder="Busca productos, marcas">
    <span class=search><i class="fas fa-search"></i></span></div>
    
</div>
<nav class=header-bottom-bar>
        <ul class=categorias>
            <li><a href=""> Ofertas | </a></li>
            <li><a href=""> Lo más destacado | </a></li>
            <li><a href=""> Visto recientemente | </a></li>
            <li><a href=""> Productos Guardados | </a></li>
        </ul>
        <ul class=redes>         
            <li><a href=""><i class="fab fa-facebook-square"></i> </a></li>
            <li><a href=""><i class="fab fa-instagram"></i> </a></li>
            <li><a href=""><i class="fab fa-twitter"></i> </a></li>
            <li> <a href=""><i class="fab fa-youtube"></i> </a></li>
        </ul>
</nav>
</header>

<main>
    <section class="main-article">
        <i class="fas fa-arrow-circle-left"></i>
        <img src="/images/Notebook.jpg" class=producto-principal>
        <i class="fas fa-arrow-circle-right"></i>
    </section>

    <h2 class=titulares> Oferta por tiempo limitado </h2>

    <section class="article-off">
        <i class="fas fa-arrow-circle-left"></i>
         <img src="/images/Celular.jpg" class="product-off">
         <div class="description-off">
         <h3> Nombre del producto</h3>
         <p> Característic: descripción </p>
         <p> Característic: descripción </p>
         <p> Característic: descripción </p>
         <p> Característic: descripción </p>       
        </div>
        <i class="fas fa-arrow-circle-right"></i>
    </section>

    <h2 class=titulares> Podría interesarte </h2>

    <section class=interest>
        <div>
        <div class="box">
            <img src="/images/Aire acondicionado.jpg" class=product-interest>
            <h3>Aire y calefacción</h3>
        </div>
    </div>
    <div>
        <div class="box">
            <img src="/images/Televisor.jpg" class=product-interest>
            <h3>Televisores</h3>
        </div>
    </div>
        <div>
        <div class="box">
            <img src="/images/Notebook.jpg" class=product-interest>
            <h3>Notebooks</h3>
        </div>        
    </section>


    <h2 class=titulares> Celulares </h2>

    <section class="celulares">
        <i class="fas fa-arrow-circle-left"></i>
         <div class = cel-1>
         <img src="/images/Celular.jpg" class="product-cel">
         <div class="description-off">
         <h3> Nombre del producto</h3>
         <p> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
        </div>
        </div>
        <div class = cel-2>
            <img src="/images/Celular.jpg" class="product-cel">
            <div class="description-off">
            <h3> Nombre del producto</h3>
            <p> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
        </div>
        </div>
           <div class = cel-3>
            <img src="/images/Celular.jpg" class="product-cel">
            <div class="description-off">
            <h3> Nombre del producto</h3>
            <p><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i> </p>
        </div>
        </div>
           <i class="fas fa-arrow-circle-right"></i>
    </section>



</main>

</body>
</html>
