<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Market</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/c55/bootstrap.min.css">
<link rel="stylesheet" href="https: //cdnjs.cloudflare.com/ajax/libs/baguettebox.3s/1.8.1/baguetteBox.min.css">
<link rel="stylesheet" href="gallery-grid.css">
    <script src="https://kit.fontawesome.com/850256899c.js" crossorigin="anonymous"></script>
</head>
<body>
<header class="main-header">
<nav class="main-header-top">
    <ul class=left-nav>
        <li><a href="#">Seguí tu compra</a></li>
        <li><a href="#">Servicio técnico</a></li>
        <li><a href="#">Sucursales</a></li>
        <li><a href="#">Venta telefónica</a></li>
        <li><a href="#">Centro de ayuda</a></li>
    </ul>
    <ul class=right-nav>
        <li><a href="#">Iniciar Sesión <i class="fas fa-sign-in-alt"></i></a></a></li>
        <li><a href="#">Registrarse <i class="far fa-address-card"></i></a></li>
    </ul>
</nav>
<div class="main-header-center">
<div class="logo-search">
    <img src="/images/Logo - Digital Market.png" class="logo">                
    <h2 class = "slogan"> Encontrá todo lo que buscas al alcance de un click</h2>    
    <div class="user">
            <article class=header-right><a href="">
                <i class="fas fa-shopping-cart"> </i>
                <p class=parrafo> Mi carro </p></a>
            </article>
            
            <article class=header-right><a href="">
            <i class="fas fa-user-circle"></i>
                <p class=parrafo> Perfil</p></a>
            </article>
        </div>
    </div>

<h2 class="burger-menu">
    <i class="fas fa-bars"> Categorías</i>  
 </h2>

 <div class=contenedor> <input class = barra-busqueda type="text" placeholder="Busca productos, marcas">
    <span class=search><i class="fas fa-search"></i></span></div>
    
</div>
<nav class=header-bottom-bar>
        <ul class=categorias>
            <li><a href=""> Ofertas | </a></li>
            <li><a href=""> Lo más destacado | </a></li>
            <li><a href=""> Visto recientemente | </a></li>
            <li><a href=""> Productos Guardados | </a></li>
        </ul>
        <ul class=redes>         
            <li><a href=""><i class="fab fa-facebook-square"></i> </a></li>
            <li><a href=""><i class="fab fa-instagram"></i> </a></li>
            <li><a href=""><i class="fab fa-twitter"></i> </a></li>
            <li> <a href=""><i class="fab fa-youtube"></i> </a></li>
        </ul>
</nav>
</header>
<section class="fondo-carrito">
    <h2 class="titulo-carrito">Mi Carrito</h2>
    <div class="container-carrito">
       
       <div class= "col-2">
        <img class="imagenes-carrito" src="/images/Notebook.jpg" width="35%">
       </div>
       <div class= "col-3">
       <h1>Notebook HP</h1>
       <h4 class="precio-carrito">$190,0000</h4>
       <section class="descripcion-carrito">
       <h3> descripción producto</h3>
       <p>Notebook HP Pavilion Gaming 16,1" Intel® Core™ i5-10300H 8GB 512GB 16-A0061LA</p>
            <section class="especificaciones-carrito">
              <article>
              <h4>Especificaciones técnicas</h4>
                  <div>
                      <p>Procesador: Intel® Core™ i5-10300</p>
                      <p>Memoria: Disco SSD - 512 GB, Memoria ram - 8 GB</p>
                      <p>Sistema operativo: Windows 10 Home 64</p>
                      <p>Resolución de pantalla: 1920 X 1080</p>
                      <p>Duración de batería: 3 Celdas</p>
                      <p>Modelo: 16-A0061LA</p>
                    </section>
                  </article>
                </section>
              </div>
              
       </div>
  
 </div>
 <section class="botones-carrito"> 
    <select class="cantidad-de-producto">
      <option>Cantidad</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
     
      </select>
      <a href="/" class="boton-eliminar-carrito">Eliminar del carro</a>
  </section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</section>
</html>

